<template>
<div class="wrapper">
  <section class="hero-block">
    <div class="container">
      <img :src="$page.landing.logo.url" class="logo" alt="logo">
      <div class="hero-block__top">
        <h1>{{ $page.landing.heroBlock.title }}</h1>
      </div>
      <div class="hero-block__bottom">
        <p class="hero-block__bottom-text">{{ $page.landing.heroBlock.description }}</p>
      </div>
      <div class="hero-block__btn-block">
        <a 
          class="btn" 
          :href="$page.landing.heroBlock.button.link"
        >
          {{ $page.landing.heroBlock.button.text }}
        </a>
      </div>
      <div class="hero-block__details">
        {{ $page.landing.heroBlock.details }}
      </div>
    </div>
  </section>
  <section class="speaker-block">
    <div class="container">
      <h2 class="heading">{{ $page.landing.speakerBlock.headline }}</h2>
      <div class="speaker-block__container">
        <div class="speaker-block__content">
          <div class="speaker-block__name">{{ $page.landing.speakerBlock.name }}</div>
          <div class="speaker-block__description">
            Специалист высочайшего уровня с экспертизой в Magento с 2014 года. 
            Стек: Magento 1, Magento 2, PHP, JS, mySQL, Knockout.js<br><br>
            В компании занимает позицию <b>Team Lead</b> на сложнейших проектах.<br><br>
            На практике более <b>5 выпусков</b> студентов, которые успешно работают по всей Украине и не только...)<br>
            <br>
            <b>Сертификации:</b>
            <ul class="speaker-block__description-list">
              <li>• Magento 2 Certified Professional Developer</li>
              <li>• Magento 2 Certified Frontend Developer</li>
              <li>• Magento 2 Certified Javascript Developer</li>
            </ul>
          </div>
        </div>
        <div class="speaker-block__image-block">
          <img :src="$page.landing.speakerBlock.picture.url" alt="avatar">
        </div>
      </div>
    </div>
  </section>
  <section class="format-block">
    <div class="container">
      <h2 class="heading">{{ $page.landing.formatBlock.headline }}</h2>
      <div class="format-list">
        <div v-for="item in $page.landing.formatBlock.format_details" :key="item.id" class="format-list__item">
          <div class="format-list__item-image-block">
            <img :src="item.picture[0].url" alt="image description" class="format-list__item-image">
          </div>
          <span class="format-list__item-text">{{ item.text}}</span>
        </div>
      </div>
    </div>
  </section>
  <section class="program-block">
    <div class="container">
      <h2 class="heading">{{ $page.landing.programBlock.headline }}</h2>
      <div class="program-block__container">
        <div class="program-item">
          <div class="program-item__number">01</div>
          <div class="program-item__name">{{ $page.landing.programBlock.introName }}</div>
          <ul class="program-item__list">
            <li
              class="program-item__list-item"
              v-for="item in $page.landing.programBlock.program_intros"
              :key="item.id"
            >
            • {{ item.stageItem }}
            </li>
          </ul>
        </div>
        <div class="program-item program-item_marked">
          <div class="program-item__number">02</div>
          <div class="program-item__name">{{ $page.landing.programBlock.basicName }}</div>
          <ul class="program-item__list">
            <li
              class="program-item__list-item"
              v-for="item in $page.landing.programBlock.program_basics"
              :key="item.id"
            >
            • {{ item.stageItem }}
            </li>
          </ul>
        </div>
        <div class="program-item">
          <div class="program-item__number">03</div>
          <div class="program-item__name">{{ $page.landing.programBlock.advancedName }}</div>
          <ul class="program-item__list">
            <li
              class="program-item__list-item"
              v-for="item in $page.landing.programBlock.program_anvanceds"
              :key="item.id"
            >
            • {{ item.stageItem }}
            </li>
          </ul>
        </div>
      </div>
      <a 
        class="btn" 
        :href="$page.landing.heroBlock.button.link"
      >
        {{ $page.landing.heroBlock.button.text }}
      </a>
    </div>
  </section>
  <section class="audience-block">
    <div class="container">
      <h2 class="heading">{{ $page.landing.audienceBlock.headline }}</h2>
      <div class="audience-list">
        <div v-for="item in $page.landing.audienceBlock.audience_items" :key="item.id" class="audience-list__item">
          <div class="audience-list__picture-block">
            <img :src="item.picture.url" alt="image description" class="audience-list__image">
          </div>
          <div class="audience-list__text">
            {{ item.text }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="result-block">
    <div class="container">
      <h2 class="heading">{{ $page.landing.resultBlock.headline }}</h2>
      <div class="result-container">
        <ul class="result-container__list">
          <li 
            class="result-container__item"
            v-for="item in $page.landing.resultBlock.result_items"
            :key="item.id"
          >
            <span>•</span> {{ item.text }}
          </li>
        </ul>
        <div class="result-container__images">
          <div
            v-for="item in $page.landing.resultBlock.result_images"
            :key="item.id"
            class="result-container__image-block"
          >
            <img :src="item.picture[0].url" alt="image description" class="result-container__image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="reviews-block">
    <div class="container">
      <h2 class="heading">{{ $page.landing.reviewsBlock.headline }}</h2>
      <div class="review-carousel">
        <ClientOnly>
          <carousel 
            :navigationEnabled="true"
            :adjustableHeight="false"
            :loop="true"
            :autoplay="false"
            :perPage="1"
          >
            <slide 
              v-for="item in $page.landing.reviewsBlock.reviews"
              :key="item.id"
              class="review-carousel__slide"
            >
                <div class="review-carousel__image-block">
                  <img :src="item.avatar.url" alt="avatar">
                </div>
                <div class="review-carousel__content-block" id="test">
                  <div class="review-carousel__name">{{  item.name }}</div>
                  <div class="review-carousel__role">{{ item.role }}</div>
                  <div class="review-carousel__text">{{ item.text }}</div>
                </div>
            </slide>
          </carousel>
         </ClientOnly>
      </div>
    </div>
  </section>
  <section class="simple-form-block" id='contact-us'>
    <div class="container">
      <h2 class="heading">{{ $page.landing.simpleFormBlock.headline }}</h2>
      <FormSimple />
    </div>
  </section>
  
</div>
</template>

<page-query>
query {
  landing: strapiLandingPage(id: "1") {
    logo {
      url
    }

  	heroBlock {
      title
      description
      details
      button {
        text
        link
      }
    }

    formatBlock {
      headline
      format_details {
        text
        picture {
          url
        }
      }
    }

    programBlock {
      headline
      introName
      basicName
      advancedName
      program_intros {
        stageItem
      }
      program_basics {
        stageItem
      }
      program_anvanceds {
        stageItem
      }
    }

    audienceBlock {
      headline
      audience_items {
        text
        picture {
          url
        }
      }
    }

    resultBlock {
      headline
      result_items {
        text
      }
      result_images {
        picture {
          url
        }
      }
    }

    reviewsBlock {
      headline
      reviews {
        name
        role
        text
        avatar {
          url
        }
      }
    }

    speakerBlock {
      headline
      name
      description
      picture {
        url
      }
    }

    simpleFormBlock {
      headline
      description
      buttonText
      agreement
    }

    simpleFormBlock {
      headline
    }
  }
}
</page-query>

<script>
import FormSimple from '../components/FormSimple.vue';
import FormWithCv from '../components/FormWithCv.vue';

export default {
  components: {
      Carousel: () =>
        import ('vue-carousel')
        .then(m => m.Carousel)
        .catch(),
      Slide: () =>
        import ('vue-carousel')
        .then(m => m.Slide)
        .catch(),
      FormSimple,
      FormWithCv
    },
  data() {
    return {
      apiUrl: process.env.GRIDSOME_API_URL
    }
  },
  mounted() {

    setTimeout(() => {
      const test = document.getElementById("test").style["display"] = "block";
    }, 1000);
    
  }
}
</script>
