
  
@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src:
        url(#{$path}.ttf) format("truetype");
      font-weight: $weight;
      font-style: $style;
      font-display: swap;
    }
  }
  
  @include font-face('Montserrat', './fonts/Montserrat-Regular', 400, 'normal');
  @include font-face('Montserrat', './fonts/Montserrat-Medium', 500, 'normal');
  @include font-face('Montserrat', './fonts/Montserrat-SemiBold', 600, 'normal');
  @include font-face('Montserrat', './fonts/Montserrat-Bold', 700, 'normal');
  @include font-face('Montserrat', './fonts/Montserrat-ExtraBold', 800, 'normal');
  