// colors

$brand: #f3eee4;
$white: #fff;
$red: #ed4a19;
$cherry: #983b45;
$cherry-100: #9b414b;
$grey: #343432;

// screen widths

$w1600: 1600px;
$w1200: 1200px;
$w1024: 1024px;
$w900: 900px;
$w768: 768px;
$w460: 460px;
