<template>
    <form class="form-block" @submit.prevent="submitForm">
      <p class="title">
        {{ $page.landing.simpleFormBlock.description }}
      </p>
      <div class="row-block">
        <input  placeholder="Имя Фамилия" v-model="name" type="text" />
        <input placeholder="Номер Телефона" type="tel" v-model="phone" 
          :style="{ border: phoneError ? '2px solid red' : ''}" @click="nullPhoneError" />
        <input placeholder="Технологии, которые знаю" v-model="text" type="text" />
        <button class="button-custom">{{ $page.landing.simpleFormBlock.buttonText }}</button>
      </div>
      <p class="agreement">
        {{ $page.landing.simpleFormBlock.agreement }}
      </p>
    </form>
</template>

<page-query>
query {
  landing: strapiLandingPage(id: "1") {

    simpleFormBlock {
      headline
      description
      buttonText
      agreement
    }
  }
}
</page-query>

<script>
import axios from 'axios';

export default {
  name: "FormSimple",
  data() {
    return {
      name: "",
      phone: "",
      text: "",
      phoneError: '',
      telegramToken: '2007621244:AAEJs7_kIt0FY1F9TzVPWF_pPA4gX7t8Uig',
      chatId: '-1001581979407',
      sendData: []
    };
  },
  methods: {
    submitForm() {
      if (this.phone === "" || this.name === "" || this.text === "")
        return this.$toasted.error("Пожалуйста, заполните все поля")

      if (!this.validatePhone(this.phone)) {
        this.phoneError = "Пожалуйста, введите корректный номер телефона";
        return this.$toasted.error(this.phoneError)
      }

      this.sendData = `
        телефон: ${this.phone},
        имя: ${this.name},
        технологии: ${this.text}
        `

      axios.post(`https://api.telegram.org/bot${this.telegramToken}/sendMessage?chat_id=${this.chatId}&parse_mode=html&text=${this.sendData}`,
      {
        phone: this.phone,
        name: this.name,
        text: this.text
      });

      return this.$toasted.success('Заявка принята. Мы свяжемся с вами!');
    },

    validatePhone(phone) {
      const phoneRegex = RegExp(/^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/);
      return phoneRegex.test(phone);
    },

    nullPhoneError() {
        this.phoneError = '';
    },
  }
};
</script>

<style scoped>
* {
  color: black;
  --dark-grey: #343432;
  --light-brown: #f3eee4;
  --custom-light: rgb(240, 240, 240);
  --action-red: #983b45;
  --input-height: 25px;
  line-height: 1.5;
}

.root-div {
  background-color: var(--action-red);
  padding: 150px;
}
form {
  display: flex;
  background-color: var(--light-brown);
  border-radius: 20px;
  padding: 50px 20px;
  margin: auto;
  flex-direction: column;
  max-width: 1200px;
}

.title {
  margin-bottom: 30px;
}

.row-block {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  overflow: hidden;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.row-block input {
  margin: 10px 15px 10px 0;
  padding: 15px 20px 13px 20px;
  background-color: inherit;
  border-radius: 0;
  border: 1px solid black;
  flex-basis: 1;
  flex-grow: 3;
  display: inline-block;
  max-width: 260px;
}
.row-block input:focus {
  outline: none;
  border-color: var(--action-red);
}

.row-block input:last-of-type {
  margin-right: 25px;
}

@media (max-width: 564px) {
  .row-block input:last-of-type {
    margin: 10px 0 10px;
  }
}

@media (max-width: 1200px) {
  .row-block {
    justify-content: center;
  }

  .row-block input:last-of-type {
    margin-right: 0;
  }

  .row-block input {
    max-width: 100%;
    width: 100%;
    margin: 10px 0 10px;
  }
}

button {
  background-color: var(--action-red);
  color: var(--light-brown);
  border: none;
  font-size: 15px;
  padding: 14px 25px;
  margin: 10px 0;
}

button:hover {
  cursor: pointer;
}

/* @media (max-width: 564px) {
    button {
        margin-top: 20px;
    }
} */

.agreement {
  font-size: 13px;
  color: black;
}
</style>
