<template>
  <div class="root-div">
    <form class="form-block" @submit.prevent="submitForm">
      <p class="title">Заполни форму и стань частью команды Kozak Group</p>
      <div class="row-block">
        <div class="column-block">
          <input placeholder="*ФИО" type="text" v-model="name" />
          <input
            placeholder="*Email"
            type="text"
            v-model="email"
            :style="{ border: emailError ? '2px solid red' : ''}" @click="nullEmailError"
          />
          <input placeholder="*Номер Телефона в формате +380..." type="tel" v-model="phone" 
          :style="{ border: phoneError ? '2px solid red' : ''}" @click="nullPhoneError" />
          <input
            placeholder="*Раскажи немного о себе?"
            type="text"
            v-model="info"
          />
        </div>
        <div class="column-block">
          <input
            placeholder="*Почему хочешь именно к нам?"
            type="text"
            v-model="why"
          />
          <input
            placeholder="Место работы (или учебы)"
            type="text"
            v-model="curWork"
          />
          <div class='file-block'>
            <input type="file" name="file" id="file" class="inputfile" @change="confirmFile"/>
            <label for="file">
                <div class="container">
                <span>*CV (Прикрепи резюме)</span>
                <basic-icon height="19px" width="19px" icon-name="clip1" iconColor="grey"><clip1 />
                </basic-icon>
                </div>
            </label>
          </div>
        </div>
      </div>

      <p class="agreement">
        Нажимая кнопку, я соглашаюсь на обработку персональных данных
      </p>
      <button>Отправить</button>
    </form>
  </div>
</template>

<script>
import BasicIcon from '../ui/BasicIcon.vue';
import clip1 from '../assets/icons/clip1.vue';

export default {
  components: {
      BasicIcon,
      clip1,

  },
  name: "FormWithCv",
  data() {
    return {
      name: "",
      email: "",
      phone: "",
      info: "",
      why: "",
      curWork: "",
      cv: false,

    //   errors:
      emailError: '',
      phoneError: '',
    };
  },
  methods: {
    submitForm() {
      // VALIDATION
      if (
        this.email === "" ||
        this.name === "" ||
        this.phone === "" ||
        this.info === "" ||
        this.why === ""
      )
        return this.$toasted.error('Пожалуйста, заполните все поля со звёздочкой');

      if (!this.cv) return this.$toasted.error('Пожалуйста, прикрепите резюме');

      if (!this.validateEmail(this.email)) {
        this.emailError = "Пожалуйста, введите корректный email";
        return this.$toasted.error(this.emailError)
      }

       if (!this.validatePhone(this.phone)) {
        this.phoneError = "Телефонный номер должен быть в формате +380...";
        return this.$toasted.error(this.phoneError)
      }

        // SENDING A FORM:
      // axios.post(url, {
      //       name: this.name,
      //       email: this.email
      //       phone: this.phone,
      //       info: this.info,
      //       why: this.why,
      //       curWork: this.curWork,
      //   });

      return this.$toasted.success('Заявка принята. Мы свяжемся с вами!');
    },

    validateEmail(email) {
      const emailRegex = RegExp(
        /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
      );
      return emailRegex.test(email);
    },

    validatePhone(phone) {
      const phoneRegex = RegExp(/^\+380\d{9}$/);
      return phoneRegex.test(phone);
    },

    nullEmailError() {
        this.emailError = '';
    },

    nullPhoneError() {
        this.phoneError = '';
    },

    confirmFile() {
        return this.cv = true;
    }
  },
};
</script>

<style scoped>
* {
  --dark-grey: #343432;
  --light-brown: #f3eee4;
  --custom-light: rgb(240, 240, 240);
  --action-red: #983b45;
  color: var(--custom-light);
}

.root-div {
  background-color: white;
  padding: 150px;
}

form {
  display: flex;
  background-color: #343432;
  border-radius: 20px;
  /* max-width: 80vw; */
  max-width: 1500px;
  margin: auto;
  padding: 50px;
  padding-right: 30px;
  flex-direction: column;
}

.title {
  color: var(--custom-light);
  margin-bottom: 30px;
}

.row-block {
  display: flex;
  flex-wrap: wrap;
}

.row-block input {
  margin: 10px 20px 10px 0;
  padding: 15px 20px 13px 20px;
  background-color: var(--dark-grey);
  border-radius: 0;
  border: 1px solid;
  border-color: var(--custom-light);
  display: inline-block;
}

.row-block input:focus {
  outline: none;
  border-color: var(--action-red);
}

.wrong {
    border: 2px solid red;
}

.column-block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.agreement {
  font-size: 12px;
  margin: 25px 0 15px 0;
  color: var(--custom-light);
}

button {
  background-color: var(--action-red);
  width: 50%;
  border: none;
  font-size: 15px;
  padding: 1px auto;
  height: 35px;
  width: 175px;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}


/* FILE UPLOAD */

.file-block {
    display: flex;
    overflow: hidden;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: grey;
    background-color: var(--dark-grey);
    border: 1px solid var(--custom-light);
    font-size: 0.85rem;
    padding: 15px 20px 13px;
    margin-right: 20px;
    margin-top: 10px;
    flex-grow: 2;
    display: inline-block;
    cursor: pointer; 
    position: relative;
}

.inputfile + label span {
    color: grey;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

</style>
