@import './utils/variables';
@import './utils/fonts';
@import './utils/mixins';


// common

html {
    font-family: 'Montserrat';
    font-size: 10px;

    * {
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wrapper {
    font-size: 1.8rem;
    color: $grey;
}

.container {
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-size: 1.6rem;
    color: #fff;
    background-color: $cherry;
    text-decoration: none;
    padding: 15px 35px;
    display: inline-block;

    @include min-screen($w768) {
        font-size: 2rem;
        padding: 18px 50px;
    }
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    @include min-screen($w768) {
        font-size: 3rem;
    }
}

.toasted {
    &.error {
        background: $cherry !important;
    }
}

// sections

.hero-block {
    padding: 50px 0;
    background-color: $brand;
    background-image: url('./images/logo_bird.png');
    background-position: right -32% top 20px;
    height: 100vh;

    &__top {
        max-width: 100%;
        padding-top: 14.8%;
        padding-bottom: 20px;
        padding-right: 9px;
        font-size: 2.4rem;
        line-height: .9;
        font-weight: 900;
        text-align: left;
        text-transform: uppercase;

        h1 {
            margin: 0;
            font-size: 2.4rem;

            @include min-screen($w768) {
                font-size: 3.8rem;
            }

            @include min-screen($w1024) {
                font-size: 4.2rem;
            }

            @include min-screen($w1600) {
                font-size: 5.8rem;
            }
        }

        @include min-screen($w1024) {
			max-width: 50%;
            text-align: right;
		}

        @include min-screen($w1600) {
			padding-top: 14.8%;
		}
    }

    &__bottom {
        max-width: 100%;
        padding-left: 9px;
        margin-left: auto;
        margin-bottom: 59px;
        font-size: 1.6rem;

        &-text {
            max-width: 580px;
        }

        @include min-screen($w768) {
			font-size: 1.8rem;
		}

        @include min-screen($w1024) {
			max-width: 50%;
		}
    }

    &__details {
        font-size: 1.8rem;
        font-weight: 700;
        position: absolute;
        bottom: 30px;
        left: 15px;

        @include min-screen($w768) {
			font-size: 2.2rem;
            margin-top: 4.6%;
		}

        @include min-screen($w1600) {
            font-size: 3.4rem;
        }
    }

    &__btn-block {
        margin-left: auto;

        @include min-screen($w1024) {
			max-width: 50%;
		}
    }
}

.format-block {
    padding: 75px 0 70px;

    @include min-screen($w1024) {
        padding: 135px 0 110px;
    }
    
    .heading {
        margin-bottom: 50px;

        @include min-screen($w1024) {
            margin-bottom: 100px;
        }
    }
}

.program-block {
    .container {
        text-align: center;
        padding-bottom: 70px;

        @include min-screen($w1024) {
            padding-bottom: 130px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: left;

        @include min-screen($w1024) {
            margin-top: 110px;
            margin-bottom: 90px;
            flex-direction: row;
            align-items: baseline;
        }

        @include min-screen($w1600) {
			flex-direction: row;
            align-items: baseline;
		}
    }
}

.audience-block {
    padding: 50px 0 60px;
    background-color: $brand;

    @include min-screen($w1024) {
        padding: 100px 0 120px;
    }
}

.result-block {
    padding: 65px 0 20px;

    @include min-screen($w1024) {
        padding: 130px 0;
    }
}

.reviews-block {
    padding: 45px 0;

    @include min-screen($w1024) {
        padding: 0 0 90px;
    }
}

.speaker-block {
    margin-top: 35px;

    @include min-screen($w768) {
        margin-top: 70px;
    }

    &__container {
        margin-top: 110px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 1180px;
        margin: 55px auto 0;

        @include min-screen($w768) {
            flex-direction: row;
        }

        @include min-screen($w1024) {
            margin: 110px auto 0;
        }
    }

    &__content {
        text-align: left;
        margin-top: 40px;

        @include min-screen($w768) {
            padding-right: 5%;
            margin-top: 0;
        }
    }

    &__image-block {
        min-width: 100%;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        background-color: $brand;

        @include min-screen($w460) {
            min-width: 380px;
        }
    }

    &__name {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 45px;
        text-transform: uppercase;
    }

    &__description {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;

        &-list {
            list-style: none;
            margin: 10px 0 0 0;
            padding: 0;
            font-weight: 600;
            font-size: 1.9rem;

            li {
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.simple-form-block {
    padding: 60px 0 70px;
    background-color: $cherry;

    @include min-screen($w1024) {
        padding: 90px 0 140px;
    }

    .heading {
        color: $brand;
        margin-bottom: 60px;

        @include min-screen($w1024) {
            margin-bottom: 115px;
        }
    }
}


// blocks

.format-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1390px;
    margin: 0 auto;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $brand;
        padding: 20px;
        border-radius: 20px;

        @include min-screen($w460) {
            min-height: 190px;
            padding: 30px;
        }

        &-text {
            padding-top: 10px;
            text-align: center;
            font-size: 1.4rem;

            @include min-screen($w460) {
                font-size: initial;
            }
        }

        &-image-block {
            img {
                max-width: 60px;

                @include min-screen($w768) {
                    max-width: 100%;
                }
            }
        }

        @include min-screen($w1600) {
            width: 310px;
        }
    }

    @include min-screen($w768) {
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include min-screen($w1024) {
        grid-gap: 50px;
    }
}

.program-item {
    border-radius: 20px;
    border: 4px solid $grey;
    padding: 30px 29px 45px 30px;
    max-width: 500px;


    &_marked {
        border: none;
        background-color: $brand;

        .program-item__number {
            background-color: $cherry-100;
        }

        @include min-screen($w1024) {
            margin: 0 20px;
        }
    }

    &__number {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        color: $white;
        border-radius: 20px;
        margin-bottom: 30px;
        background-color: $grey;

    }

    &__name {
        font-size: 2rem;
        font-weight: 700;
        color: $cherry;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__list {
        padding: 0;
        list-style: none;
        font-size: 1.8rem;
        line-height: 1.666;
    }

    &:not(:last-of-type) {
        margin-bottom: 40px;
    }
    
    @include min-screen($w1600) {
        &:not(:last-of-type) {
            margin-bottom: 0;
        }
    }
}

.audience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1070px;
    margin: 60px auto 0;

    @include min-screen($w1024) {
        margin: 100px auto 0;
    }

    &__item {
        max-width: 340px;
        text-align: center;
        &:not(:last-of-type) {
            margin-bottom: 40px;
        }

        @include min-screen($w1024) {
            min-width: 328px;

            &:not(:last-of-type) {
                margin-bottom: 0;
            }
        }
    }
    
    &__picture-block {
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey;
        border-radius: 30px;
        margin: 0 auto 45px;
    }

    @include min-screen($w1024) {
        flex-direction: row;
    }
}

.result-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 860px;
    margin: 0 auto;

    @include min-screen($w768) {
        flex-direction: row;
        padding-top: 100px;
    }

    &__list {
        padding: 0;
        list-style: none;
        max-width: 500px;
        font-weight: 500;

        @include min-screen($w768) {
            padding: 0 28px 0 0;
        }
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 30px;

            @include min-screen($w768) {
                margin-bottom: 50px;
            }
        }
        span {
            color: $cherry;
        }
    }

    &__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 50px;

        @include min-screen($w768) {
            margin-bottom: 0;
        }
    }

    &__image-block {
        width: 140px;
        height: 140px;
        background-color: $brand;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include min-screen($w768) {
            width: 160px;
            height: 160px;
        }
    }
}

.review-carousel {
    max-width: 1350px;
    margin: 50px 10px 0;
    

    @include min-screen($w1024) {
        margin: 70px auto 0;
        padding: 0 50px;
    }

    .VueCarousel-pagination {
        display: none;
    }

    .VueCarousel-inner {
        align-items: center;
    }

    .VueCarousel-navigation-prev {
        margin-left: -22px;
        left: 25px !important;

        @include min-screen($w1024) {
           left: 0 !important;
        }
    }

    .VueCarousel-navigation-next {
        margin-right: -22px;
        right: 25px !important;

        @include min-screen($w1024) {
           right: 0 !important;
        }
    }

    .VueCarousel-navigation-button {
        &:focus {
            outline: none !important;
        }
    }

    &__slide {
        padding: 15px;
        background-color: $brand;
        border-radius: 20px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include min-screen($w768) {
                display: block;
                flex-direction: row;
                align-items: initial;
            }
        }

        @include min-screen($w460) {
            padding: 30px;
        }

        @include min-screen($w768) {
            display: block;
        }

        @include min-screen($w1024) {
            padding: 30px 90px 30px 30px;
        }
    }

    &__image-block {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 170px;
        max-width: 170px;
        padding-bottom: 8px;

        @include min-screen($w768) {
            padding-right: 20px;
        }

        img {
            width: 100%;
            border-radius: 20px;
            filter: grayscale(1);
        }
    }

    &__content-block {
        padding-top: 15px;
        display: block;

        @include min-screen($w768) {
            padding-top: 0;
        }
    }

    &__name {
        color: $cherry;
        font-weight: 600;
        text-align: center;

        @include min-screen($w768) {
            text-align: left;
        }
    }

    &__role {
        font-size: 1.6rem;
        text-align: center;

        @include min-screen($w768) {
            text-align: left;
        }
    }

    &__text {
        margin-top: 20px;
        font-size: 1.6rem;

        @include min-screen($w768) {
            font-size: 1.8rem;
        }
    }
}
